body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 20px;
    text-align: center;
    
}
header {
    
    height: 80px;
    margin: 0 auto;
    background: purple;
    width: 640px;
    padding-top: 10px;
    
}
form {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Media query для мобильных устройств */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
